.wrapper {
	display: flex;
	flex-direction: row;
	background-color: #FFFFFF;
}

.sidePanel {
	width: 320px;
}

img {
	max-width: 95%;
	max-height: 95%;
}

.app {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#appImageWrapper {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 16px 0px 0px 16px;
}

#appImage {
	width: 700px;
	height: 500px;
	border: 2px;
	background-image: url("./img/placeholder.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}

.appImageAnnotationsWrapper {
	flex-direction: column;
	position: relative;
	display: flex;
	flex: 1;
}

.annotationBox {
	display: flex;
	flex-direction: column;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
}

.annotationBoxRow {
	display: flex;
	flex-direction: row;
}
.annotationBoxRow form {
	margin: 0px;
}

.formRowCorrection {
	display: flex;
	flex-direction: row;
}

.formInputCorrection {
	flex: 1;
	margin-left: 8px;
}

.formXIntervalRadioBox {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.buttonForm {
	flex: 1;
}

#buttonDemoGraph {
	margin-top: 16px;
}

.formClickInstructions{
	flex: 1;
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
	font-weight: bold;
}

.horizontalLine {
	background-color: red;
	height: 4px;
	width: 100%;
	position: absolute;
}

/* Pseudo element maker */
/*http://front-back.com/expand-clickable-areas-for-a-better-touch-experience*/
.horizontalLine:after {
	content: '';
	position: absolute;
	top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px;
}

.dot {
	height: 24px;
	width: 24px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
}

.wrapperChartBottom {
	display: flex;
	align-items: center;
/*	margin: 24px;*/
	flex-direction: column;
}

.instructionText {
	font-size: 24;
	font-weight: bold;
	font-style: italic;
	color: #EB5757;
}

.wrapperExistingEmail, .wrapperNewEmail {
	display: flex;
	width: 100%;
	margin-top: 8px;
	align-items: center;
}

.wrapperExistingEmail svg {
	margin: 0px 8px;
}

/* The Modal (background) */
#successModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    align-items: center;
}

/* The Close Button */
#buttonCloseModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

#buttonCloseModal:hover,
#buttonCloseModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* sharing */

#formShare {
  text-align: center;
}

.titleShare {
  margin-top: 60px;
}

#buttonShare {
  margin-top: 8px;
}

/* toggles -- must come at end of stylesheet */

.isInactive, #mergeRow-3 {
	display: none;
}