.wrapper {
	display: flex;
	flex-direction: row;
	background-color: #FFFFFF;
}

.sidePanel {
	width: 320px;
}

.app {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#appImageWrapper {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 16px 0px 0px 16px;
}

#appImage {
	width: 700px;
	height: 500px;
	border: 2px;
	background-image: url("./img/placeholder.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}

.appImageAnnotationsWrapper {
	flex-direction: column;
	position: relative;
	display: flex;
	flex: 1;
}

.annotationBox {
	display: flex;
	flex-direction: column;
	padding-left: 8px;
	padding-right: 8px;
}

.annotationBoxRow {
	display: flex;
	flex-direction: row;
}
.annotationBoxRow form {
	margin: 0px;
}

.formRowCorrection {
	display: flex;
	flex-direction: row;
}

.formInputCorrection {
	flex: 1;
	margin-left: 8px;
}

.formXIntervalRadioBox {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.buttonForm {
	flex: 1;
}

.formClickInstructions{
	flex: 1;
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
	font-weight: bold;
}

.horizontalLine {
	background-color: red;
	height: 4px;
	width: 100%;
	position: absolute;
}

.dot {
	height: 24px;
	width: 24px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
}

.wrapperChartBottom {
	display: flex;
	align-items: center;
/*	margin: 24px;*/
	flex-direction: column;
}

.instructionText {
	font-size: 24;
	font-weight: bold;
	font-style: italic;
	color: #EB5757;
}

.isInactive {
	display: none;
}